 <div class="container">
  <div class="title" style="text-align: center ;bottom: 100px;">
    <h2>Please, edit your profile !</h2>
  </div>
  <div class="containerprof" >
    <%= render "form" %>
  </div>
</div>

