



<div class="container">
  <div class="title" style="text-align: center; height:30px; margin-top: 35px">
    <i class="fa fa-id-card-o fa-5x" aria-hidden="true"><h2>Please, create your profile !</h2></i>
  </div>
  <div class="containerprof" >
    <%= render "form", profile: @profile %>
  </div>
</div>

