<div class="container">
 <div class="col-md-6 col-sm-offset-3">
    <h3 class="titre-login margin-bottom-1x">Please, create your profile !</h3>
      <p>Registration takes less than a minute but gives you full control over your orders.</p>
  </div>
</div>
  <div class="containerprof" >
    <%= render "form", profile: @profile %>
  </div>
</div>


