
// PADDING TOP

.padding-top-100 {
  padding-top: 100px;
}

.padding-top-80 {
  padding-top: 80px;
}

.padding-top-60 {
  padding-top: 60px;
}

.padding-top-50 {
  padding-top: 50px;
}

.padding-top-40 {
  padding-top: 40px;
}

.padding-top-20 {
  padding-top: 20px;
}

.padding-top-10 {
  padding-top: 10px;
}








.padding-bottom-100 {
  padding-bottom: 100px;
}

.padding-bottom-50 {
  padding-bottom: 50px;
}

.margin-tb-50 {
  margin: 0px 50px;
}
