
.image-home {
  margin: 0px 20px;
  height: 75vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover;
}

.text-image-home {
text-align: center;
margin: 20px;
padding: 25px;
height: 225px;
position:relative;
}

.only-good-stuff {
  color: #606975;
}
.text-right  {
  position: absolute;
  bottom: 70px;
  text-align: center !important;


}

.features {
  position: relative;
  padding-left: 60px;
}

.features-logo {
  margin: 30px;
  left: 2px;
}

.colonne1 h3 {
  text-align: center;
}

.colonne1 p {
  text-align: center;
  padding: 10px;
  padding-top: 50px;

}

.our-vision {
  text-align: center;
}

.our-vision h3 {
color: #606975;
}

.our-vision p {
text-align: center;

margin: 20px;
padding: 20px;
}
