.house-header {
  height: 70vh;

}

.house__body {
margin: 25px;
}

.trib-house__tile {
}

// ### Booking form ###

.house__booking {

}



















// ###################



.bloc-house {
position: absolute;
z-index: 2;
top: 440px;
bottom: 0px;
right:0px;
width: 510px;
}

.titre-house-info {
padding: 20px;
width: 838px;

}

.bloc-list {
  padding-right: 20px;
  width: 857px;
}



.house__info {


  padding-right: 30px;
  h1, h2, h3, p{
    margin: 0px;
  }
}
