<h1>Houses#index</h1>
<p>Find me in app/views/houses/index.html.erb</p>
<% @houses.each do |house| %>
<p>id: <%= house.id %></p>
<p>name: <%= house.name %></p>
<p><%= link_to "Voir la House", house_path(house) %></p>
<% end %>
