<div class="banner-index-house" style="background-image: url('http://res.cloudinary.com/dwkqph9as/image/upload/v1512750544/Lille_jpsagr.jpg');">

    <h1 class="display-2 text-bold mb-2">LILLE</h1>

</div>

<div class='container'>
  <div class="row">
    <% @houses.each do |house| %>
      <div class="col-md-4 col-xs-6">
        <%= render "shared/house_card", house: house %>
      </div>

    <% end %>
  </div>



</div>

