<h1>Bookings#new</h1>

<%= simple_form_for [current_user, @house, @booking] do |f| %>
  <%= f.input :start_date, as: :date, html5: true %>

  <%= f.submit "Book it!", class: "btn btn-primary" %>
<% end %>
