
<div class="banner-home" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.5) 50%, rgba(0,0,0,0.5) 50%), url('http://res.cloudinary.com/dwkqph9as/image/upload/v1520612639/s58iot9qetwa54uakdwd.jpg');">
  <div class="banner-content-home">
    <div class="titre">
      <h2 class="display-2 text-bold mb-2">VIVRE. PARTAGER. PROFITER. </h2>
      <p>Vivre ensemble, c'est mieux</p>
    </div>
    <div class="button-hidden">
      <div class="button-hidden">
          <%= button_to  "Je veux voir la maison", house_path(1), :method => "get"  %>
      </div>
    </div>
  </div>
</div>



