
<div class="banner-home" style="background-image: url('http://res.cloudinary.com/dwkqph9as/image/upload/v1511970291/BannerImage_vp7iqa.jpg');">
  <div class="banner-content-home">
    <div class="titre">
      <h1>LIVE. SHARE. ENJOY.</h1>
      <p>Rent is better together</p>
    </div>
    <div class="button-hidden">
    </div>
  </div>
</div>

