
<div class="banner-bas" style="background-image: url('http://res.cloudinary.com/dwkqph9as/image/upload/v1512063903/ReadyToMoveIn_ry4wv3.jpg');">
  <div class="banner-bas">
    <div class="titre-bas">
      <h1>Prêt à déménager ?</h1>
    </div>
    <div class="button-hidden-bas">
      <div class="button-hidden">
        <%= button_to  "Je veux voir la maison", houses_path, :method => "get"  %>
      </div>
    </div>
  </div>
</div>

