
<% @bookings_house.each do |booking| %>
<div class="biography-bloc">
  <div class="biography-entete">
    <%= cl_image_tag booking.profile.photo.path, class:"avatar-large" %>
    <p><%= booking.profile.first_name %></p>
  </div>
  <div class="biography-text">
    <p><%= booking.profile.biography %></p>
  </div>
</div>
<% end %>
