
<% @bookings_house.each do |booking| %>
<div class="col-xs-12 colonne-biography">

  <div class="biography-bloc">
    <div class="biography-entete">
      <%= cl_image_tag booking.profile.photo.path, class:"avatar-large" %>
      <p><strong><%= booking.profile.first_name %></strong></p>
    </div>

    <div class="biography-text">
      <p><%= booking.profile.biography %></p>
    </div>
  </div>

</div>
<% end %>

