<div class="col-xs-12 col-md-6">
  <div class="card">
    <div class="card-picture">
    </div>

    <div class="card-header">
      <div class="card-name">
        <p><%= house.name %></p>
      </div>
      <div class="card-rating">
      </div>
    </div>
    <div class="card-description-1">
      <div class="house-capacity">
        <p><%= house.capacity %>persons</p>
      </div>
    </div>
    <div class="card-description-2">
      <div class="house-price">
        <p><%= house.price %>€</p>
      </div>
      <div class="house-ratings">
        <p></p>
      </div>
    </div>

  </div>
</div>
