<div class="footer">
  <div>
    <%= link_to root_path, class: "navbar-wagon-brand" do %>
      <%= image_tag "logowhite-2.png" %>
    <% end %>
  </div>
  <div class="info-footer">
    <p><strong>Tribes.</strong><br>
    Cité du soleil<br>
    L-3229 Bettembourg<br>
    Luxembourg</p>
<!--     <div class="footer-links">
      <p>
        <a href="#"><i class="fa fa-instagram"></i></a>
        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
      </p>
    </div> -->
  </div>
<!--   <div class="info-footer2">
    <p><strong>Discover</strong><br>
    Why Tribes ?</p>
  </div>
  <div class="info-footer2">
    <p><strong>Company</strong><br>
    About us<br>
    Partners<br>
    Contact us</p>
  </div> -->
</div>
