<h1>Order</h1>
<ul>
  <li>Status: <%= @order.state %></li>
  <li>House id: <%= @order.house_id %></li>
  <li>House name: <%= @order.house_id %></li>

  <li>Amount: <%= humanized_money_with_symbol(@order.amount) %></li>
<ul>
