<% title 'High-end Coliving Rental for Inspired People' %>
    <% description 'Live in quality accommodation with people who look like you' %>
    <% cl_image_tag 'opengraph.jpg' %>


<%= render "shared/banner_home" %>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <div class="our-vision padding-top-100 padding-bottom-50">
        <h3 class="our-vision"><strong>Notre vision</strong></h3>
        <p>Notre maison s'inspire des personnes et du monde qui nous entourent. Des intérieurs de qualité qui sont spécialement conçus pour vous. Découvrez notre histoire et rencontrez les personnes avec qui vous partagerez votre séjour.</p>
      </div>
    </div>
  </div>

  <section class="padding-top-50 padding-bottom-50">
  <div class="row">
    <div class="col-lg-6">
      <div class="image-home" style="background-image: url('http://res.cloudinary.com/dwkqph9as/image/upload/v1520612642/sysop6c0umvxf71tgur4.jpg');">
      </div>
      <div class="text-image-home">
        <p><strong>Pratique & Flexible</strong></p>
        <p>Nouvelle ville, nouvelle maison, nouveaux amis. La transition vers votre nouvelle vie nécessite de gros efforts. Nous vous aidons à éviter tous les pièges pour vous installer dans les meilleures conditions possibles. C'est simple: nous nous chargeons de tout, vous, vous profitez.</p>
      </div>
    </div>

    <div class="col-lg-6">
      <div class="image-home" style="background-image: url('http://res.cloudinary.com/dwkqph9as/image/upload/v1512052690/Community_qslalu.jpg');">
      </div>
      <div class="text-image-home">
        <p><strong>Communauté</strong></p>
        <p>Votre maison sera le lieu où vous rencontrerez des personnes qui seront autant excitées que vous à l'idée de partager votre expérience de co-living. Profitez des évènements que nous organisons au sein de la maison qui est une réelle plateforme de partage et d'apprentissage.</p>
      </div>
    </div>
  </div>
  </section>

  <section class="padding-bottom-100 padding-top-50">
    <div class="row">
      <div class="col-xs-12 text-center">
        <h3 class="only-good-stuff"><strong>Que des bonnes choses</strong></h3>
        <p>Nouveaux amis et superbe maison où tous les services sont inclus, vivre chez Tribes signifie que votre vie est plus facile.</p>
      </div>
    </div>

    <div class="row padding-top-40">
      <div class="col-xs-12 col-sm-6 col-md-4 text-center">
        <div class="features-logo">
          <i class='fa fa-television fa-2x' aria-hidden='true' ></i>
        </div>
        <p><strong>Complétement meublées</strong></p>
        <p>N'amenez que vous. Nous avons tout ce dont vous avez besoin!</p>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 text-center">
        <div class="features-logo">
          <i class='fa fa-bed fa-2x' aria-hidden='true'></i>
        </div>
        <p><strong>Suites privées</strong></p>
        <p>Une chambre où vous vous sentirez chez vous. Choisissez une chambre où vous habiterez seul ou en couple.</p>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 text-center">
        <div class="features-logo">
          <i class='fa fa-users fa-2x' aria-hidden='true'></i>
        </div>
        <p><strong>Evènements</strong></p>
        <p>C'est mieux ensemble. Vous verrez qu'il y a toujours quelque chose de sympa à faire à la maison.</p>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 text-center">
        <div class="features-logo">
          <i class='fa fa-wifi fa-2x' aria-hidden='true'></i>
        </div>
        <p><strong>WiFi avec la fibre</strong></p>
        <p>Que vous travaillez de la maison, ou que vous regardiez la dernière serie Netflix, vous serez couvert.</p>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4 text-center">
        <div class="features-logo">
          <i class='fa fa-thumbs-up fa-2x' aria-hidden='true'></i>
        </div>
          <p><strong>Des extras</strong></p>
          <p>Faites le plein de surprises! Netflix, Spotify, fitness, cinéma, serrure connectée ... Nous avons pensé à tout!</p>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4 text-center">
        <div class="features-logo">
            <i class='fa fa-pencil-square-o fa-2x' aria-hidden='true'></i>
        </div>
        <p><strong>Toutes charges incluses</strong></p>
        <p>Votre maison est complétement prête pour vous: électricité, eau, chauffage, ménage sont inclus dans le prix.</p>
      </div>
    </div>
  </section>
</div>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '{your-app-id}',
      cookie     : true,
      xfbml      : true,
      version    : '{latest-api-version}'
    });

    FB.AppEvents.logPageView();

  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "https://connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>


<%= render "shared/banner_bas" %>
