<% title 'High-end Coliving Rental for Inspired People' %>
    <% description 'Live in quality accommodation with people who look like you' %>
    <% image_tag 'opengraphhome.png' %>


<%= render "shared/banner_home" %>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <div class="our-vision padding-top-100 padding-bottom-50">
        <h3 class="our-vision">Our vision</h3>
        <p>Our properties are inspired by the people and world around us. Beautiful, high quality interiors that are designed especially for you.
        Discover our story and meet the people with whom you will share your journey.</p>
      </div>
    </div>
  </div>

  <section class="padding-top-50 padding-bottom-50">
  <div class="row">
    <div class="col-lg-6">
      <div class="image-home" style="background-image: url('http://res.cloudinary.com/dwkqph9as/image/upload/v1512052683/DiningRoomHomePage_gkm5a4.jpg');">
      </div>
      <div class="text-image-home">
        <p><strong>Convenience & Flexible</strong></p>
        <p>New city, new home, new friends. Taking a step towards your next life transition is a lot to handle. We smooth out all the bumps that come with settling in your dream home. It’s simple: we do the heavy-lifting, you do the living.</p>
      </div>
    </div>

    <div class="col-lg-6">
      <div class="image-home" style="background-image: url('http://res.cloudinary.com/dwkqph9as/image/upload/v1512052690/Community_qslalu.jpg');">
      </div>
      <div class="text-image-home">
        <p><strong>Community driven</strong></p>
        <p class="text-right">Your home will be a place where you’ll find people just as excited about sharing life as you are.</p>
      </div>
    </div>
  </div>
  </section>

  <section class="padding-bottom-100 padding-top-50">
    <div class="row">
      <div class="col-xs-12 text-center">
        <h3 class="only-good-stuff">Only good stuff</h3>
        <p>From a friendly community to a beautifully furnished home, living at Tribes means life is simpler</p>
      </div>
    </div>

    <div class="row padding-top-40">
      <div class="col-xs-12 col-sm-6 col-md-4 text-center">
        <div class="features-logo">
          <i class='fa fa-television fa-2x' aria-hidden='true' ></i>
        </div>
        <p><strong>Fully furnished</strong></p>
        <p>Just bring you. We’ve got everything you need!</p>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 text-center">
        <div class="features-logo">
          <i class='fa fa-bed fa-2x' aria-hidden='true'></i>
        </div>
        <p><strong>Private Bedroom</strong></p>
        <p>A space to call your own. Choose a room designed for singles or couples.</p>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 text-center">
        <div class="features-logo">
          <i class='fa fa-users fa-2x' aria-hidden='true'></i>
        </div>
        <p><strong>Community happenings</strong></p>
        <p>t’s better together. You’ll find there’s always something fun going on at home,</p>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 text-center">
        <div class="features-logo">
          <i class='fa fa-wifi fa-2x' aria-hidden='true'></i>
        </div>
        <p><strong>Superfast WiFi</strong></p>
        <p>Whether working from home or watching latest HBO, you are covered.</p>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4 text-center">
        <div class="features-logo">
          <i class='fa fa-paw fa-2x' aria-hidden='true'></i>
        </div>
          <p><strong>Private Bedroom</strong></p>
          <p>A space to call your own. Choose a room designed for singles or couples.</p>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4 text-center">
        <div class="features-logo">
            <i class='fa fa-pencil-square-o fa-2x' aria-hidden='true'></i>
        </div>
        <p><strong>Utilities covered</strong></p>
        <p>Your home is completely ready for you: electricity, water, heat etc are included.</p>
      </div>
    </div>
  </section>
</div>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '{your-app-id}',
      cookie     : true,
      xfbml      : true,
      version    : '{latest-api-version}'
    });

    FB.AppEvents.logPageView();

  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "https://connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>


<%= render "shared/banner_bas" %>
