
  <body>
      <!-- Page Content-->
      <div class="container padding-bottom-2x mb-2">
        <div class="row align-items-center padding-bottom-2x">
          <div class="col-md-5"><img class="d-block w-270 m-auto" src="http://res.cloudinary.com/dwkqph9as/image/upload/v1520612642/sysop6c0umvxf71tgur4.jpg" alt="Online Shopping"></div>
          <div class="col-md-7 text-md-left text-center">
            <div class="mt-30 hidden-md-up"></div>
            <h2>Pratique & Flexible</h2>
            <p>Nouvelle ville, nouvelle maison, nouveaux amis. La transition vers votre nouvelle vie nécessite de gros efforts. Nous vous aidons à éviter tous les pièges pour vous installer dans les meilleures conditions possibles. C'est simple: nous nous chargeons de tout, vous, vous profitez.</p>
          </div>
        </div>
        <hr>
        <div class="row align-items-center padding-top-2x padding-bottom-2x">
          <div class="col-md-5 push-md-7"><img class="d-block w-270 m-auto" src="http://res.cloudinary.com/dwkqph9as/image/upload/v1520842247/pexels-photo-696218_aq01lg.jpg" alt="Delivery"></div>
          <div class="col-md-7 pull-md-5 text-md-left text-center">
            <div class="mt-30 hidden-md-up"></div>
            <h2>Communauté</h2>
            <p>Votre maison sera le lieu où vous rencontrerez des personnes qui seront autant excitées que vous à l'idée de partager votre expérience de co-living. Profitez des évènements que nous organisons au sein de la maison qui est une réelle plateforme de partage et d'apprentissage.</p>
          </div>
        </div>
      </div>
    </div>

