.banner-bas {
  color: white;
 text-align: center;
  height: 75vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
   display: flex;
  justify-content: center;
  position: relative;
background-position: 25% 75%;

}
.banner-bas h1 {
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  font-family: 'Nunito Sans', sans-serif;

}

.button-hidden-bas {
  position: absolute;
  bottom: 6em;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  left: 0;
  right: 0;

}

.button-bas a {
   color: white;
}

.button-bas:hover {
  color: rgb(255, 255, 255);
  opacity: 0.6;
  text-decoration: none;
}

.titre-bas {
  margin-top: 70px;
  bottom: 4.5em;

}

input[type="submit"] {
  background: none;
  border: solid 0.2em;
  padding: 1em 1.5em;
}
