.banner-home {
  color: white;
 text-align: center;
  height: 75vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
   display: flex;
  justify-content: center;
  position: relative;
background-position: 25% 75%;

}
.banner-home h1 {
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  font-family: 'Nunito Sans', sans-serif;

}
.banner-home p {
  font-size: 25px;
  font-weight: lighter;
  color: rgb(255, 255, 255);
  opacity: 0.6;
  margin-bottom: 30px;
}

.button-hidden {
  position: absolute;
  bottom: 8em;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  left: 0;
  right: 0;

}

.button_to a {
   color: white;
}

.button_to:hover {
  color: rgb(255, 255, 255);
  opacity: 0.6;
  text-decoration: none;
}

.titre {
  text-align: left;
  position: absolute;
  top: 4.5em;
  left: 6em;
}
input[type="submit"] {
  background: none;
  border: solid 0.2em;
  padding: 1em 1.5em;
}
