.banner-home {
  color: white;
  text-align: center;
  height: 70vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  justify-content: center;
  position: relative;
  background-position: 25% 75%;

}
.banner-home h1 {
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  font-family: 'Nunito Sans', sans-serif;

}
.banner-home p {
  font-size: 35px;
  font-weight: lighter;
  color: rgb(255, 255, 255);
  opacity: 1;
  margin-bottom: 30px;
}

.button-hidden {
  position: absolute;
  bottom: 4em;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;


}

.button_to a {
   color: black;
}

.button_to:hover {
  color: rgb(255, 255, 255);
  opacity: 0.6;
  text-decoration: none;
}

.titre {
  text-align: center;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 4.5em;

}

.display-2.text-bold.mb-2 {
  color: white;
}

.banner-home input[type="submit"] {
  background: none;
  border: solid 0.2em;
  padding: 1em 1.5em;

}
