#biographies {
}
#biographies h3 {
  color: black;
  text-align: center;
}
.colonne-biography{
  margin-top: 55px;
}

.biography-bloc {
  position: relative;
  }
.biography-entete {
  text-align: center;
  position: absolute;
  top: -48px;
  left: 42.5%;
  .avatar-large{
    width: 80px;
    height: 80px;
  }
}
.biography-text {
  border: solid 2px #f8f9fa;
  border-radius: 3px;
  padding-top: 60px;
  padding-right: 5px;
  padding-left: 5px;
}
.container.biography-items {
  width: 75%;
}
