#biographies {
}
#biographies h3 {
  color: black;
  text-align: center;
}
.biography-bloc {
  display: flex;
  align-items: center;
  width: 50%;
  margin: auto;
  padding: 8px;
}
.biography-entete {
  text-align: center;
}
.biography-text {
  padding-left: 30px;

}
