.mySlides {
  display: none;
  height: 70vh;
  width: 100%;
  background-size: cover;
  position: relative;
}
.w3-left, .w3-right, .w3-badge {cursor:pointer}
.w3-badge {height:13px;width:13px;padding:0}


.caroussel-show{
  display: flex;
  z-index: 1;
}
.w3-left.w3-hover-text-khaki {
  position: absolute;
  left: 40px;
  top: 50%;
  font-size: 50px;
  color: white;
}
.w3-right.w3-hover-text-khaki {
  padding: 0px;
  margin: 0px;
  position: absolute;
  right: 40px;
  top: 50%;
  font-size: 50px;
  color: white;
}

