.card-img-top {
  height: 260px;
  width: 100%;
}

.card {
  height: 450px;
  margin-bottom: 50px;
  position: relative;
}

.card-clic {
  text-decoration: none;
}

.card-clic:hover {
  text-decoration: none;
}

.show-this-one {
  display: flex;
  width: 100%;
  margin: 0px;
  padding: 0px;
  position: absolute;
  bottom: 10px;
}
.show-this-one a {
  margin: auto;
}

.card-title {
  color : #606975;
}
