.mySlides {
  display: none;
height: 100vh;
width: 821px;

}
.w3-left, .w3-right, .w3-badge {cursor:pointer}
.w3-badge {height:13px;width:13px;padding:0}


.caroussel-show{
  display: flex;
  position: relative;
  z-index: 1;
}
.w3-left.w3-hover-text-khaki {
  position: absolute;
  left: 17px;
  top: 329px;
  font-size: 50px;
  color: white;
}
.w3-right.w3-hover-text-khaki {
  padding: 0px;
  margin: 0px;
  position: absolute;
  right: 577px;
  top: 329px;
  font-size: 50px;
  color: white;
}

