.card-img-top {
  height: 260px;
  width: 358px;
}

.card {
  max-height: 430px;
  margin-bottom: 50px;
}

.card-clic {
  text-decoration: none;
}

.card-clic:hover {
  text-decoration: none;
}

.show-this-one {
  margin-bottom: 10px;
}
