.dashboard__header {
  min-height: 60vh;
  display: flex;
  align-items: center;
}

.house-item {
  width:100%;
  height:100%;
}

.item-house {
  display:flex;
  align-items:center;
  justify-content: flex-start;
}

.item-house img {
  position: cover !important;
  // position: center;
}

.house-details {
display: flex;
align-items: center;
height: 100%;
width: 100%;
}
.biography {
  margin-top: 30px;
}


.dashboard-header {
display: flex;
justify-content: center;
width: 100%;
}

.titre-profile {
  text-align: center;
}
.mydetail1 {
  text-align: center;
  justify-content: center;
  padding-left: 40px;

}

.reservation-status {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
