.iziToast{
  display: flex;
  align-items: center;
  text-align: center;
}
.booking-recap {
  border: solid;
}
.booking-house {
  padding: 0px;
}
.booking-status {
  border: solid;
}
div {border:solid;}
