#formhousebooking {
  flex: 0 0 550px;
  height: 30vh;
  margin-top: 15px;
  position: sticky;
  top: 0;
  border: 2px solid rgba(220,224,244,0.4);
  padding: 15px;
  border-radius: 10px;
  height: 270px;
}

.main-container {
  display: flex;
  margin: 15px;
}
.liste {
 border-bottom: 1px solid rgba(220,224,244,0.4);
}

