.message-ratings {
  display: flex;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid rgba(220,224,244,0.4);
  text-align: left;
  padding: 0px;
  margin-top: 15px;
  padding-bottom: 5px;
}
.message-ratings {
  justify-content: space-between;

}
.message:last-child {
  border-bottom: none;
}
.message-name {
  padding-left: 10px;
  min-width: 100px;
}
.message-name h3 {
  font-size: 13px;
  margin-bottom: 0px;
}
.message-name p {
  font-size: 13px;
  font-weight: lighter;
  opacity: 0.6;
  margin-top: 5px;
}
.message-body {
  flex-grow: 1;
  padding-left: 10px;
  font-size: 13px;
  color: rgba(0,0,0,0.7);
  max-width: 200px;
}
.message-body strong{
  color: rgba(0,0,0,0.9);
  color: rgba(0,0,0,0.9);
}
.message-body p {
  margin: 6px 0;
}
.message-status {
  font-size: 14px;
  font-weight: bold;
}
.message-body-rating {
  text-align: left;
}
.message-body-review {
  display: flex;
  flex-wrap: wrap;
}
.liste-ratings-moyenne {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
