.info-group {
  display: flex;
  padding: 20px;
  position: relative;


}

.bloc-info {
margin-bottom: 1px;
}

.photo-booking-profile {
  height: 150px;
  border-bottom: 1px solid rgba(220,224,244,0.4);

}

.booking-city {
  padding-left: 10px;
  min-width: 100px;
}

.booking-city p {
  font-size: 16px;
  font-weight: lighter;
  opacity: 0.6;
  margin-top: 5px;
  padding-left: 14px;
}
.booking-house {

  font-size: 16px;
  color: rgba(0,0,0,0.7);
}
.booking-house {
  padding-left: 97px;
  color: rgba(0,0,0,0.4);
}
.booking-house strong{
  color: rgba(0,0,0,0.9);
  color: rgba(0,0,0,0.9);
}


.booking-status {
position: absolute;
right: 27px;
}
